h1{
    padding-top: 33px;
    text-align: center;
    font-size: 90px;
    color: #ffffff;

}

h3{
    font-size: 20px;
    color: #7a7a7a;
    margin: 10px;
    text-align: left;

}

.link{

    font-size: 12px; 
    color: #8d8c8c;
    text-decoration: none;
}

body{
        
                background-color: #000000;
background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
text-align: center;

/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}


.all{
text-align: center;

}

.buttonHolder{
background-color: rgba(255, 255, 255, 0.5);
padding: 5px;
width: 50%;
border-radius: 15px;
padding: 20px;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;

}

.keyHolder{
    background-image: url("camalote-wheel-logo.jpg");
    background-size: 200px;
    /* background: white; */
        border-radius: 50%;
        text-shadow: 2px 2px #000000;
    width: 200px;
    height: 200px;
    margin: 20px;
    
    margin-left: auto;
margin-right: auto;

}